apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv-nfs
  namespace: common
  labels:
    app: mysql-nfs
spec:
  capacity:
    storage: 50Gi
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  nfs:
    server: 172.31.33.203
    path: /home/ubuntu/opt/nfs/sharedir/test/cabinet-testk8s/mysql/
