:root {
  --bgColor: #fafafa;
  --textColor: #fff;
  --textHintColor: #999;
  --blue:#324157;
  --light-blue:#3A71A8;
  --red:#C03639;
  --pink: #E65D6E;
  --green: #30B08F;
  --tiffany: #4AB7BD;
  --yellow:#FEC171;
  --panGreen: #30B08F;
  --primary: #4b4ba3;
  --borderColor: #ebeef5;

  --topBgColor: #4b4ba3;
  --sidebarBgColor: #3d4979;
}
